@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

body {
  width: 300px;
  resize: vertical;
  overflow-y: hidden;
  background-color: #181818;
}

.con {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
}

.textarea {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  min-height: 80px;
  resize: vertical;
  border: 1px solid pink;
  background-color: transparent;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  caret-color: #fff;
  letter-spacing: .5px;
}
.textarea::placeholder {
  color: rgb(172, 172, 172);
  font-size: 12px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.textarea:focus {
  border: 1px solid rgb(253, 144, 162);
}

.buttonClick {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 15px 0 0 0;
  background-color: rgb(255, 164, 180);
  border: none;
  font-size: 16px;
  padding: 7px 0px;
  border-radius: 50px;
  transition: all .3s ease 0s;
  cursor: pointer;
  font-weight: 700;
  color: rgb(54, 54, 54);
}

.buttonClick:focus {
  background-color: rgb(253, 144, 162);
  border: none;
}
#alert-text{
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
  color: #fff;
}
.pigg{
  margin: 10px 0 0 0;
  width: 70px;
  height: 70px;
}